body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-color: #232323;
}

.MainPage {
  display: grid;
  grid-template-columns: minmax(250px, 20%) 1fr;
}

.DataPanel {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.SidePanel {
  background-color: #334455;
  height: 100%;
  overflow-x: hidden;
}

.GraphPanel {
  background-color: #0a1a2a;
}

.TablePanel {
  background-color: #486078;
}

.Title {
  color: white;
  text-align: center;
  font-size: x-large;
}

.Dropzone {
  justify-self: center;
  margin: 10px
}