body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MainPage {
  display: grid;
  grid-template-columns: 330px 1fr;
  background-color: #0a1a2a;
}

.DataPanel {
  display: grid;
  grid-template-rows: 60vh 40vh;
}

.DataTable {
  background-color: #232323;
  height: 100%;
}

/*
.GraphPanel {
  
}
*/