.SearchBar {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #121212;
}

.SearchInput {
  width: 200px;
  font-size: 18px;
  padding: 3px;
  outline-width: 0;
  border-width: 0;
  background-color: #121212;
  color: #fff;
}