.Container {
  background-color: black;
  padding: 3px;
  border: solid red 2px;
}

.Test {
  margin: 5px;
  background-color: lightgray;
  padding: 4px;
}

.Input {
  width: 140px;
  background-color: aliceblue;
  border: solid black 2px;
  padding: 4px;
}

.Button {
  background-color: coral;
  border-radius: 20%;
  padding: 5px;
  margin: 2px;
}