.TrainDataPanel {
  display: flex;
  flex-direction: column;
}

.ModelTypePanel {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid black 1px;
  margin: 10px;
}

.ModelTypeLabel {
  color: black;
  font-weight: bold;
  background-color: white;
  padding: 3px;
}

.ModelTypeLabel:hover {
  background-color: lightgray;
}

.ModelTypeSelected {
  background-color: lightslategray;
}

.ModelTypeSelected:hover {
  background-color: slategrey;
}

.UserDataHandlerContainer {
  padding: 2px;
}